body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    text-align:center;
}

.main_page_header{
    height: 500px;
    background: fixed;
    background-image: url("./img/home1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_page_header_words{
    text-align: center;
    color: #555;
    font-size:  4em;
    font-weight: bold;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pharmacy_page_header{
    height: 500px;
    background: fixed;
    background-image: url("./img/pharmacy2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pharmacy_page_header_words{
    flex-direction: column;
}

.three-links > a {
    text-decoration: none;
}

.three-links-img{
    width: 100px;
    height:100px;
}

.three-links{
    font-size: 2.5em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    height:auto;
}

.three-links-rehab{
    flex-basis: 30%;
}

.three-links-medical{
    flex-basis: 30%;
}

.three-links-pharmacy{
    flex-basis: 30%;
}

.rcmc-description{
    margin:auto;
    max-width: 70%;
}

.card-container{
    margin-left:15%;
    margin-right: 15%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.contact-card{
    padding-left:5px;
    padding-right:5px;
}

.phone-card{
    padding-left:5px;
    padding-right:5px;
}
.rcmc-map-container{
    margin-left:15%;
    margin-right:15%;
}

.rcmc-map{
    max-width:100%;
}